---
// Imports
import { Footer } from '@partials/Footer';
import Base from '@templates/Base.astro';
import { AppConfig } from '@utils/AppConfig';
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';
import CTA from '@section/CTA.astro';

export interface Props {
  project: CollectionEntry<'project'>;
}

// Fetch all projects to generate static paths
export async function getStaticPaths() {
  const projects = await getCollection('project');

  const projectsResult = projects.map((project) => ({
    params: { slug: project.slug },
    props: { project },
  }));

  return [...projectsResult];
}

const { project } = Astro.props;
const { Content } = await project.render();

const { title, description, startDate, category, image } = project.data;
const categories = category.split(', ');

const titleSuffix = ` - ${AppConfig.site_name}`;
const pageTitle = `${title}${titleSuffix}`;
const pageUrl = `${AppConfig.site_url}/projects/${project.slug}/`;
---

<Base head={{ title: pageTitle, description, url: pageUrl }}>
  <div class="animate-fadeIn container mx-auto px-6 py-12">
    <!-- Project Header -->
    <div class="mb-8 rounded-2xl p-6 shadow-xl ">
      <h1
        class="text-gradient mb-4 bg-gradient-to-r from-purple-600 to-blue-500 bg-clip-text text-4xl font-bold text-transparent"
      >
        {title}
      </h1>
      <p class=" mb-4">{description}</p>
      <div class="mb-4 flex items-center space-x-4">
        <span class="text-sm "
          >Published on: {new Date(startDate).toLocaleDateString()}
        </span>
        <div class="flex flex-wrap space-x-2">
          {categories.map((tag) => (
            <span class="mb-1 rounded-full bg-blue-100 px-3 py-1 text-xs text-blue-600">
              #{tag}
            </span>
          ))}
        </div>
      </div>
      {image && (
        <img
          src={image}
          alt={title}
          class="mb-8 h-auto w-full rounded-xl shadow-md"
        />
      )}
    </div>

    <!-- Project Content -->
    <Content />
  </div>

  <CTA />
  <Footer />
</Base>
